@import url('../../../styles/_variables.css');

nav {
  background-color: var(--bg-cor);
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 90px;
  font-size: 1.1rem;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
}

.logo {
  max-width: 150px;
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.links a{
  margin-right: 3rem;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 550;
}

.links a:hover {
  color: var(--primary-color);
  font-weight: 600;
}

.button {
  padding: 1rem 2rem;
  margin-right: 2rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 550;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: var(--secondary-color);
  color: var(--bg-cor);
  transform: translateY(-3px); 
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

.menuButton, .closeButton {
  display: none;
}

/* Media Query*/
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh; 
    width: 100%; 
    max-width: 300px; 
    background-color: var(--primary-color);
    padding: 2rem;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .links.open {
    transform: translateX(0);
  }

  .menuButton {
    display: block; 
    position: static;
    font-size: 1.5rem; 
    padding: 0.8rem;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: var(--text-color);
  }

  .closeButton {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    z-index: 10;
  }

  .button {
    background-color: var(--bg-cor);
    color: var(--secondary-color);
  }
}