.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label {
    display: block;
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.form_control input {
    border-radius: 0;
    border: none;
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--off-white);
    border-radius: 8px;
    font-family: inherit;
    font-size: 1rem;
    color: #333;
    transition: border-color 0.3s ease;
}

.form_control input::placeholder {
    color: #7b7b7b;
}

.form_control input:focus {
    outline: none;
    border-color: var(--primary-color);
}
