.btn {
  width: 100%;
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--bg-cor);
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 600px;
}

.btn:hover {
  background-color: var(--secondary-color);
}