@import './_variables.css';

*, *::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-verdana);
  font-weight: 400;
}

body {
  
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--bg-cor);
}

img {
  max-width: 100%;
  height: auto;
}

.App {
  min-height: 100vh;
  width: 100vw;
  max-width: 1900px;
  margin: 0rem auto;
}

