.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.title {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 15px;
}

.titleEvent {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 15px;
}

.error {
  background-color: #fee2e2;
  color: #ef4444;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
  text-align: center;
}

.addItem {
  display: block;
  width: 100%;
  padding: 15px;
  margin: 20px 0;
  background-color: #dbeafe;
  color: #1e40af;
  border: 1px dashed #93c5fd;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: bold;
}

.icon {
  margin-right: 8px;
  vertical-align: middle;
}

.actionButtons {
  display: flex; 
  gap: 15px;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #e5e7eb;
}

.deleteEventButton {
  flex-grow: 1; 
  flex-basis: 0;
  
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 12px 15px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.actionButtons > *:last-child {
  flex-grow: 2; 
  flex-basis: 0;
}


/*Estilo específico de Convidado.js*/
.fichaContainer {
  max-width: 400px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); 
  text-align: center; 
}

.infoText {
  color: var(--color-text-dark, #333);
  font-size: 1rem;
  margin-top: 15px;
}

.saldoText {
  color: var(--color-text-dark, #333);
  font-size: 1rem;
  font-weight: 600;
}

.saldoValue {
  color: var(--secondary-color);
  font-size: 1rem;
  display: inline-block;
  margin-left: 2px;
}

.qrCodeWrapper {
  padding: 15px;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 8px;
  margin-bottom: 25px;
  display: inline-block;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.qrCodeWrapper img {
  display: block;
  max-width: 100%; 
  height: auto;
}

.instructions {
  text-align: left;
  border-top: 1px solid var(--off-white);
  padding-top: 15px;
}

.instructionsTitle {
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px;
}

.instructionsList {
  padding: 0;
  margin: 0;
}

.instructionsList li {
  font-size: 1rem;
  margin-bottom: 8px;
  position: relative;
}

h3 {
  margin: 15px 0;
  color: var(--primary-color);
  font-weight: 600;
}