.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border: 1px solid #e0e0e0;
}

.container h3 {
  font-size: 1.25rem;
  color: var(--secondary-color);
  margin: 0;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.container button {
  width: 90%;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.container button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 0.5rem;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
  border: 2px solid #555;
  border-radius: 8px;
}

.urlText {
  font-size: 0.9rem;
  color: #555;
  text-align: center;
  word-break: break-all;
}

.urlText a {
  color: #007bff;
  text-decoration: underline;
}


@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem 2rem;
  }

  .container h3 {
    text-align: left;
    flex-grow: 1; 
    min-width: 200px;
  }
  
  .container button,
  .button {
    width: auto;
    flex-shrink: 0; 
  }

  .button {
    min-width: 80px;
  }
}