.container {
    background-color: var(--bg-cor);
    min-height: 100vh;
}

.header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 2rem;
    margin-bottom: 10px;
}

.userName {
    text-decoration: none;
    color: var(--bg-cor);
    font-weight: 600;
    font-size: 1.5rem;
}

.qrCode {
    background-color: var(--primary-color);
    padding: 20px;
    color: var(--bg-cor);
    border-radius: 70%;
    font-size: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.eventList {
    padding: 10px;
    margin: auto;
    max-width: 900px;
}