.recargaContainer {
    max-width: 400px;
    margin: 20px auto;
    padding: 25px;
    background-color: var(--bg-cor);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.infoBox {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.title {
    color: var(--secondary-color);
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
}

.infoText {
    font-size: 1rem;
    color: var(--secondary-color);
    margin: 5px 0;
    font-weight: 600;
}
.infoText span {
    color: var(--text-color);
}

.saldoAtual {
    color: var(--secondary-color);
    font-size: 1rem;
    margin-top: 10px;
    font-weight: 600;
}

.saldoValue {
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.1rem;
}

.novoSaldoBox {
    background-color: #e6ffed;
    color: #1a7931;
    padding: 12px;
    border-radius: 6px;
    margin: 15px 0;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
}

.novoSaldoValue {
    font-weight: 600;
    font-size: 1.1rem;
}

.recargaForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.actionButtons {
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

.backButton {
    background-color: transparent;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.backButton:disabled {
     opacity: 0.6;
}