.equipeContainer {
    max-width: 500px;
    margin: 0 auto;
    padding: 15px;
    background-color: var(--bg-color);
    min-height: 100vh;
}

.header {
    text-align: center;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
}

.mainTitle {
    color: var(--secondary-color);
    font-size: 1.5rem;
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
}

.eventTitle {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: normal;
    margin-top: 5px;
    font-weight: 600;
    text-transform: uppercase;
}

.equipeContainer button {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s, opacity 0.2s;
}

.equipeContainer button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.primaryButton {
  background-color: var(--primary-color);
  color: white;
  border: none;
}

.secondaryButton {
  background-color: var(--secondary-color);
  color: white;
  border: none;
}

.tertiaryButton {
  background-color: transparent;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

/* Menu Inicial */
.menuContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputManualContainer {
  padding: 15px;
  background-color: var(--card-bg);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.inputForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

/* Ficha Escaneada */
.fichaEscaneadaContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
    background-color: var(--bg-cor);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.sectionTitle {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    font-weight: 600;
}

.fichaDetails p {
    margin: 5px 0;
    font-size: 1rem;
    color: var(--secondary-color);
}

.fichaDetails span {
    color: var(--text-color);
}

.saldo {
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: 15px;
    color: var(--primary-color);
}

.saldoValue {
    font-size: 1.3rem;
    font-weight: 600;
}

/* Botões de Ação da Ficha (Recarga/Venda) */
.actionButtons {
  display: flex;
  gap: 10px;
}

.actionButtonRecarga, .actionButtonVenda {
  padding: 15px 10px;
  flex: 1;
}

.actionButtonRecarga {
    background-color: transparent;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}


.actionButtonVenda {
  background-color: var(--primary-color);
  color: white;
  border: none;
}
