@import '../styles/_variables.css';

nav {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  font-size: 1.1rem;
}

.logo {
  max-width: 100px;
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.links a{
  margin-right: 3rem;
  text-decoration: none;
  color: var(--bg-cor);
  font-weight: 550;
}

.links a:hover {
  color: var(--secondary-color);
  font-weight: 600;
}

.button {
  padding: 8px 25px;
  margin-right: 2rem;
  background-color: var(--bg-cor);
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 550;
  color: var(--primary-color);
  font-size: 1rem;
  transition: 0.3s;
}

.button:hover {
  padding: 10px 28px;
  background-color: var(--secondary-color);
  color: var(--bg-cor);
}

.menu {
  display: none;
}